/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Content section */
#content {
    text-align: center;
    display: block;
    margin-top: 50px;
}

/* Action button */
#actionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Navigation bar */
nav {
    background-color: #333;
    display: flex;
}

/* Navigation links */
nav a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Navigation link hover effect */
nav a:hover {
    background-color: #555;
}


/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    background-color: #eee;
    padding: 10px 0;
}
